# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/GestioneAreeCritiche/GestioneAreeCritiche/obj

/GestioneAreeCritiche/*.suo

/GestioneAreeCritiche/*.user
/GestioneAreeCritiche/GestioneAreeCritiche/*.user

/GestioneAreeCritiche/GestioneAreeCritiche/*.userprefs
